@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

$text : #494949;

$main : #4EACE1;//4EACE1
$second : #1370A4;
$other : #24E7DB;
$otherDark : #20CCC1;

$background : rgb(71, 156, 206);
$backgroundHover : rgb(90, 193, 253);

*,
*:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 10px;

    scroll-behavior: smooth;
}

.stripe {
    background: #24E7DB;
    height: 200vh;
    width: 10rem;

    opacity: 0.37;

    position: absolute;
    top: 0;
    right: 10rem;
}