.form input{
    padding: 9px;
    background-color: lightgray;
    
    border: 3px solid #444444;
    border-radius: 10px;
    
    margin: 5px 7px
}
.btn{
    background-color: lightslategray;
    font-weight: 700;
}